
/*=============================================
=                  PAGE STYLE                 =
=============================================*/

/*=============================
=            HEADER           =
==============================*/

header {
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #00a4ff;
}
header .header-logo {
    float: left;
    margin: 20px 0;
    /*display: none;*/
}
header .header-logo h2 {
    font-weight: bold;
    color: #202427;
    text-transform: uppercase;
    font-size: 40px;
}
header .header-logo h2 span {
    font-weight: 300;
    color: #00a4ff;
}


/* MENU HAMBURGUER */

.menu-hamburguer {
    display: none;
    margin-top: 25px;
    width: 40px;
    height: 36px;
    position: relative;
    padding: 1em;
}
.menu-hamburguer input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -14px;
    z-index: 1;
    opacity: 0;
}
.menu-hamburguer span {
    width: 100%;
    height: 5px;
    top: 0;
    position: absolute;
    background-color: #00a4ff;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.menu-hamburguer span::before {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 10px;
    background-color: #00a4ff;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.menu-hamburguer span::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: -10px;
    background-color: #00a4ff;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.menu-hamburguer input:checked ~ span {
    background: transparent;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.menu-hamburguer input:checked ~ span::before {
    transform: translate(0px, -6px) rotate(-45deg);
     -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.menu-hamburguer input:checked ~ span::after {
    transform: translate(0, 15px) rotate(45deg);
     -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


/* FIM DO MENU-HAMBURGUER */






header nav.header-navegation {
    float: right;
    margin: 20px 0;
}
header .header-menu li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 0;
}
header .header-menu li a {
    font-weight: regar;
    color: #202427;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 2px 12px;
}
header .header-menu li a:hover {
    color: #00a4ff;
}

/* DROPDOWN */

header .header-menu li a i {
    color: #00a4ff;
    font-size: 20px;
    margin-left: 6px;
}
header .header-menu ul {
    display: none;
    position: absolute;
}
header .header-menu li:hover ul {
    display: block;
}
header .header-menu ul li {
    display: block;
    float: none;
    background-color: #00a4ff;
    border-bottom: .5px solid rgba(255, 255, 255, .5);
}
header .header-menu ul li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header .header-menu ul li:hover {
    background-color: #fff;
}
header .header-menu ul li a {
    color: #fff;
}
header .header-menu ul li a:hover {
    color: #00a4ff;
}

/* FIM DO DROPDOWN */

header .header-menu, header .header-social {
    display: inline-block;
}
header .header-social li {
    cursor: pointer;
    display: inline-block;
    margin-left: 18px;
}
header .header-social li a {
    font-size: 20px;
    color: #00a4ff;
}

header .about {
    background-image: url('../images/static6.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 40px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}
header .about .my {
    background-color: rgba(255,255,255,0.2);
    border-radius: 62%;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 190px;
}
header .about .my .my-photo {
    background-image: url('../images/avatar.jpg');
    background-position: -2px -57px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 178px;
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
    width: 178px;
}
header .about .content {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
header .about .content h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
}
header .about .content p {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
header .about .dev {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 28px;
}
header .about .dev a {
    color: #FFF;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgba(0, 164, 255, 0.85);
    display: inline-block;
    margin: 10px 0;
}
header .about .dev a:hover {
    background-color: rgba(0, 164, 255, 1);
}
header p.pagination {
    padding-bottom: 100px;
}


/*----------  MOUSE ANIMATION  ----------*/

header .mouse-icon { 
    border: 2px solid white;
    border-radius: 20px;
    height: 50px;
    margin: 10px auto;
    width: 35px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
}
header .mouse-icon .wheel {
    border-radius: 50%;
    height: 16px;
    margin: 2px auto;
    width: 8px;
    background-color: transparent;
    border: 1px solid #fff;
    animation-name: scroll;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 12px;
}


/* Reponsive icons view in TABLET/SMARTPHONE */
.header-social-responsive {
    display: none;
    margin: 25px 0;
}
.header-social-responsive li {
    margin-right: 6px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
}
.header-social-responsive li:hover {
    padding-bottom: 10px;
    transition: all .8s ease-in-out;
}
.header-social-responsive li a i {
    margin-top: 6px;
    font-size: 18px;
    color: #fff;
}



@keyframes scroll {
  from {
    top: 0px;
  }
  to {
    top: 20px;
  }
}

/*----------  END MOUSE ANIMATION  ----------*/

/*=====  End of HEADER  ======*/


/*=============================================
=                    MAIN                     =
=============================================*/


/*----------  Index  ----------*/
section {
    padding: 50px;
    border-bottom: 1px solid #dedede;
}
section.about {
    text-align: center;
}
section .title h2 {
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}
section.about .title h2 span {
    color: #00a4ff;
}
section.about .video-js.vjs-fluid {
    margin: 25px auto;
    width: 85%;
}

section.images {
    background-color: rgba(246, 246, 246, 1);
}
section.images .images-item img {
    width: 200px;
    max-width: 100%;
    display: block;
    margin: 15px auto; 
    height: auto; 
}
section.about .content {
    margin-top: 60px;
}
section.about .content p {
    /*font-size: 22px;
    line-height: 1.5;
    color: #202427;
    letter-spacing: 0.25px;
    text-align: left;
    margin-bottom: 40px;*/
    font-size: 22px;
    line-height: 1.5;
    color: #373737;
    letter-spacing: 0.25px;
    text-align: left;
    margin-bottom: 15px;
}
section.projects .title h2 {
    text-align: center;
    margin-bottom: 40px;
}
article.project-item .title h3 {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #373737;
}
article.project-item {
    margin-bottom: 60px;
}
article img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
article.project-item figure img {
    margin-bottom: 15px;
}
article.project-item figure figcaption {
    font-size: 22px;
    color: #373737;
    margin-bottom: 15px;
}
.btn-project {
    display: inline-block;
    position: relative;
}
.btn-project {
    width: 100%;
    line-height: 2.4rem;
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: .1rem;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 1.6rem;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
.btn-project:hover {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    background-color: #00a4ff;
}

.form-group form input:not(.submit),
.form-group form select,
.form-group form textarea 
{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: none;
    display: block;
    border: 2px solid #E9E9E9;
    border-radius: 5px;
    color: #373737;
    transition: border-color 0.15s ease-in-out 0s;
    width: 100%;
}
.submit {
    padding: 7px 20px;
    background-color: #00a4ff;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
}
.submit:hover {
    background-color: #fff;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
}

/*----------  End Index  ----------*/


/*----------  FATEC  ----------*/

.fatec article .title {
    margin-bottom: 40px;
}
.fatec article .title h2{
    text-align: center;
}
.img-fatec {
    width: 80%;
    margin: 0 auto 40px;
}
.img-fatec img {
    max-width: 100%;
    height: auto;
}
.fatec article .title-content {
    margin-bottom: 10px;
}
.fatec article .title-content h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
.fatec article .content {
    margin-bottom: 20px;
}
.fatec article .content p {
    font-size: 18px;
    line-height: 1.5;
    color: #373737;
    letter-spacing: 0.25px;
    text-align: left;
    margin-bottom: 5px;
}



/*=====  End of MAIN  ======*/


/*=============================================
=                     FOOTER                  =
=============================================*/

footer .footer-content {
    padding: 50px;
    text-align: center;
    color: #8A9599;
}
footer .footer-content .footer-copyright {
    margin-bottom: .3125rem; 
}
footer .footer-content .footer-links {
    display: block;
    margin-bottom: .9375rem;
}
footer .footer-content .footer-links ul li {
    display: inline-block;  
    border-right: 1px solid #8A9599;
}
footer .footer-content .footer-links ul li:last-child {
    border-right: none;
}
footer .footer-content .footer-links ul li a {
    font-weight: regular;
    color: #202427;
    font-size: 15px;
    text-transform:  uppercase;
    text-align: left;
    letter-spacing: 0.4px;
    padding: 2px 12px; 
}
footer .footer-content .footer-links ul li a::hover {
    color: #00a4ff;
}
footer .footer-content .with-love p img {
    width: 16px;
    height: 16px;
    color: red;
}

/*=====  End of FOOTER  ======*/


/*=============================================
=                 MEDIA QUERYS                =
=============================================*/

@media screen and (max-width: 786px) {

    
    /* HEADER */
    
    header {
        display: block;
    }
    .menu-hamburguer {
        display: block;
        float: right;
        margin-top: 40px;
    }
    .header-logo {
        display: block;
    }
    header nav.header-navegation, header .header-menu li {
        margin-right: -100%;
        transition: all .1s ease-in-out;
    }   
    .ativo {
        margin-right: 0 !important; 
        transition: all .3s ease-in-out;
    }
    header .header-menu li a i {
        color: #fff;
    }
    header .header-menu li {
        text-align: center;
        width: 100%;
        float: right;
        display: block;
        max-height: 271px;
        background-color: #00a4ff;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    header .header-menu li:hover {
        background-color: rgba(255, 255, 255, .5);
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        color: #00a4ff;
    }
    header .header-menu li a, header .header-menu ul li a{
        padding: 0 40px;
        display: block;
        color: #FFF;
    }
    header .header-menu ul li a:hover, header .header-menu li a i, header .header-menu li:last-child {
        color: #00a4ff;
    }
     header .header-menu ul {
        margin-top: 5px;
        position: static;
    }
    ul.header-social {
        display: none;
    }
    .header-social-responsive {
        display: block;
    }
    
    /* ABOUT */

    section.about .video-js.vjs-fluid {
        width: 100%;
        height: 300px;
    }

    /* IMAGES */
    
    section.images .col-md-6:first-child .images-item {
       margin-bottom: 50px;
    }
    
}











