
/*=============================================
=                  PAGE STYLE                 =
=============================================*/

/*=============================
=            HEADER           =
==============================*/

header {
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #00a4ff;
}
header .header-logo {
    float: left;
    margin: 30px 0 20px;
    display: none;
}
header nav.header-navegation {
    float: right;
    margin: 20px 0;
}
header ul.header-menu li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 0;
}
header ul.header-menu li a {
    font-weight: regular;
    color: #202427;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 2px 12px;
}
header ul.header-menu li a:hover {
    color: #00a4ff;
}
header ul.header-menu, header ul.header-social {
    display: inline-block;
}
header ul.header-social li {
    cursor: pointer;
    display: inline-block;
    margin-left: 18px;
}
header ul.header-social li a {
    font-size: 20px;
    color: #00a4ff;
}

header .about {
    background-image: url('../images/static6.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 40px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}
header .about .my {
    background-color: rgba(255,255,255,0.2);
    border-radius: 62%;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 190px;
}
header .about .my .my-photo {
    background-image: url('../images/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 178px;
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
    width: 178px;
}
header .about .content {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
header .about .content h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
}
header .about .content p {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
header .about .dev {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 28px;
}
header .about .dev a {
    color: #FFF;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgba(0, 164, 255, 0.85);
    display: inline-block;
    margin: 10px 0;
}
header .about .dev a:hover {
    background-color: rgba(0, 164, 255, 1);
}
header .mouse-icon { 
    border: 2px solid white;
    border-radius: 20px;
    height: 50px;
    margin: 10px auto;
    width: 35px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
}
header .mouse-icon .wheel {
    border-radius: 50%;
    height: 16px;
    margin: 2px auto;
    width: 8px;
    background-color: transparent;
    border: 1px solid #fff;
    animation-name: scroll;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 13px;
}

@keyframes scroll {
  from {
    top: 0px;
  }
  to {
    top: 20px;
  }
}

/*=====  End of HEADER  ======*/


/*=============================================
=                    MAIN                     =
=============================================*/


/*----------  Index  ----------*/
section {
    padding: 50px;
    border-bottom: 1px solid #dedede;
}
section.about {
    text-align: center;
}
section.about .title h2 {
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}
section.about .title h2 span {
    color: #00a4ff;
}
section.about .video-js.vjs-fluid {
    margin: 25px auto;
    width: 85%;
}

section.images {
    background-color: rgba(246, 246, 246, 1);

}
section.images .images-item img {
    width: 200px;
    max-width: 100%;
    display: block;
    margin: 15px auto; 
    height: auto; 
}


/*----------  End Index  ----------*/

/*=====  End of MAIN  ======*/


/*=============================================
=                     FOOTER                  =
=============================================*/

footer .footer-content {
    padding: 50px;
    text-align: center;
    color: #8A9599;
}
footer .footer-content .footer-copyright {
    margin-bottom: .3125rem; 
}
footer .footer-content .footer-links {
    display: block;
    margin-bottom: .9375rem;
}
footer .footer-content .footer-links ul li {
    display: inline-block;  
    border-right: 1px solid #8A9599;
}
footer .footer-content .footer-links ul li:last-child {
    border-right: none;
}
footer .footer-content .footer-links ul li a {
    font-weight: regular;
    color: #202427;
    font-size: 15px;
    text-transform:  uppercase;
    text-align: left;
    letter-spacing: 0.4px;
    padding: 2px 12px; 
}
footer .footer-content .footer-links ul li a::hover {
    color: #00a4ff;
}
footer .footer-content .with-love p img {
    width: 16px;
    height: 16px;
    color: red;
}

/*=====  End of FOOTER  ======*/











