footer
    .container
        .footer-content
            .footer-copyright
                p 
                    | © 2016 Flávio Silva, Todos os direitos reservados.
            .footer-links
                ul
                    li 
                        a(href="sobre.html", title="Sobre") Sobre
                    li 
                        a(href="projetos.html", title="Projetos") Projetos
                    li 
                        a(href="contato.html", title="Contato") Contato
            .with-love
                p 
                    | Feito com 
                    img(src="images/love.svg", alt="make with love")
                    |  em HOME
        

        