extends layout.pug

block header

    header
        .container
            
            .header-logo
                h2 Flavio
                    span Silva

            .menu-hamburguer
                input(type="checkbox" id="check")
                span
                
            nav.header-navegation
                ul.header-menu
                    li 
                        a(href="index.html", title="Início") Início 
                    li 
                        a(href="sobre.html", title="Sobre") Sobre 
                    li 
                        a(href="projetos.html", title="Projetos") Projetos 
                    li 
                        a(href="contato.html", title="Contato") Contato
                    li 
                        a(href="fatec.html" title="Fatec") Fatec
                            i.fa.fa-caret-down
                        ul
                            li
                                a(href="semestres/primeiro-semestre.html" title="Primeiro Semestre" ) 1 Semestre
                            li
                                a(href="semestres/segundo-semestre.html" title="Segundo Semestre") 2 Semestre
                            li
                                a(href="semestres/terceiro-semestre.html" title="Terceiro Semestre") 3 Semestre
                            li
                                a(href="semestres/quarto-semestre.html" title="Quarto Semestre") 4 Semestre
                            li
                                a(href="semestres/quinto-semestre.html" title="Quinto Semestre") 5 Semestre
                            li
                                a(href="semestres/sexto-semestre.html" title="Sexto Semestre") 6 Semestre
   
                ul.header-social 
                    li
                        a(href="https://www.facebook.com/young.programmist", title="Facebook" target="_blank") 
                            i.fa.fa-facebook
                    
                    li
                        a(href="https://github.com/furabio", title="Github" target="_blank") 
                            i.fa.fa-github
                     
                    li
                        a(href="https://twitter.com/furabio1", title="Twitter" target="_blank") 
                            i.fa.fa-twitter
             
                    li
                        a(href="#", title="Linkedin" target="_blank") 
                            i.fa.fa-linkedin               
        .about
            .container
                block before-description-page
                    .content
                        block description-page
                            h1 Default Title
                            p Default Content
                block after-description-page