doctype html
html
    head
        meta(charset="utf-8")
        meta(name="author", content="Flavio Silva")
        
        block title
            title Default title

        meta(name="keywords", content="...")

        block description
            meta(name="description", content="...")

        link(rel="shortcut icon", type="image/x-icon", href="images/favicon.ico")
        //- link(rel="icon", href="images/icon.png")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,700i" rel="stylesheet")
        link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="bower_components/video.js/dist/video-js.min.css")
        link(rel="stylesheet", type="text/css", href="css/grid.css")
        link(rel="stylesheet", type="text/css", href="css/reset.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")

        // If you'd like to support IE8
        script(src="bower_components/video.js/dist/ie8/videojs-ie8.min.js")
        

    body
        block header

        block content

        include footer.pug

        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/video.js/dist/video.min.js")
        script(src="js/scripts.js")
        
        

    