extends header.pug

block title
    title Flávio Silva - Sobre

block description-page 
    h1 [ Sobre ]
    p(class="pagination") Início >> Sobre

block content
    main
        section.about
            .container
                .title
                    h2 Sobre mim
                .content
                    p  
                        | Meu nome é Flávio Silva Cabral, nasci em Iati/PE e atualmente sou Freelance Software Enginner. Estou cursando Sistemas para Internet na Fatec Jahu, com conclusão prevista para 2019.
                    p
                        | Minha carreira na web começou em meados de 2014, quando por ventura do destino resolvi a aprender a programar lua, para conseguir desenvolver um jogo que gostava de jogar bastante na época. Foi então que me apaixonei pela área e estou firme e forte nela até hoje.
                    p
                        | Em minhas horas vagas costumo ler livros(ficção, aventura, suspense, e outros com gêneros parecidos), além de assistir seriados e filmes na netflix, também gosto de contribuir com projetos open-source existente na web, para melhorar minhas skills e ajudar outros ao mesmo tempo.
                
                .title
                    h2 About me
                .content
                    p 
                        | My name is Flavio Silva Cabral was born in Iati/PE and I am currently a Freelance Software Engineer. I'm studying Internet systems in Fatec Jahu, with completion planned for 2019.
                    p
                        | My web career began in mid-2014, when perchance of fate I decided to learn how to program Moon, to get develop a game that I'd like to play a lot at the time. It was then that I fell in love with the area and am firm and strong in it until today.
                    p   
                        | n my spare time I usually read books (fiction, adventure, suspense, and others with similar genres), in addition to watching serials and movies on netflix, I also like to contribute to open source projects on the web, to improve my skills and help others at the same time.
                    