extends header.pug

block title
    title Flávio Silva - Sobre

block description-page 
    h1 [ Sobre ]
    p(class="pagination") Início >> Sobre

block content
    main
        section.about
            .container
                .title
                    h2 Sobre mim
                .content
                    p  
                        | Meu nome é Flávio Silva Cabral, nasci em Iati/PE e atualmente sou Freelance Software Enginner. Estou cursando Sistemas para Internet na Fatec Jahu, com conclusão prevista para 2019.
                    p
                        | Minha carreira na web começou em meados de 2014, quando por ventura do destino resolvi a aprender a programar lua, para conseguir desenvolver um jogo que gostava de jogar bastante na época. Foi então que me apaixonei pela área e estou firme e forte nela até hoje.
                    p
                        | Em minhas horas vagas costumo ler livros(ficção, aventura, suspense, e outros com gêneros parecidos), além de assistir seriados e filmes na netflix, também gosto de contribuir com projetos open-source existente na web, para melhorar minhas skills e ajudar outros ao mesmo tempo.
                    