extends header.pug

block title
    title Fatec - Terceiro Semestre

block description-page 
    h1 [ 3º Semestre  ]
    p(class="pagination") Início >> Fatec >> 3º Semestre 

block content
    main
        section.semestre
            .container
                .title
                    h2 3º Semestre 
                .content
                    table
                        caption Grade curricular
                        thead
                            th Disciplina
                            th Professor
                            th Aulas semanais
                            th Aulas teóricas
                            th Aulas práticas
                            th Total de aulas
                        tbody
                            tr
                                td #######
                                td #######
                                td #######
                                td #######
                                td #######
                                td #######


